#container {
    background-image: linear-gradient(30deg, rgb(212, 245, 27), rgb(52, 53, 53));
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
div {
    display: flex;
}

#segundo {
    width: 70%;
}

img {
    width: 250px;
}

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

